@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.inputCss {
		@apply w-full rounded-md border border-green-500 py-2 px-3 placeholder-gray-700 transition duration-150 ease-in-out focus:outline-none focus:ring-1 focus:ring-green-600 sm:text-sm sm:leading-5;
	}

	.formCss {
		@apply w-full max-w-sm space-y-5 rounded-lg border-2 px-8 py-4 shadow shadow-green-500 max-md:w-[90%];
	}

	.text-lg-semibold {
		@apply text-2xl font-semibold tracking-widest;
	}

	.fixed-landing {
		@apply fixed top-0 w-full bg-green-400;
	}
}
